.home-page {
    padding: 2rem 0;
    border: 2px solid red;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .left {
    flex: 1;
    padding: 0 2rem;
  }
  
  .right {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .star-card {
    min-width: 120px;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  @media screen and (max-width: 768px) {
    .left,
    .right {
      flex: 1 100%;
    }
  }
  